.DS_Store
*.pdf
*.docx
*.rtf
*.dat
*.feather
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
outputs/
**/outputs/
**/checkpoints/
**/predictions/
**/large_outputs/
__pycache__/
.ipynb_checkpoints/
.venv/
venv/
자료조사/
테스트/
